<mat-toolbar id="navbar">
    <div id="icon">
        <div class="red-circle">
            <div class="logo">:)</div>
        </div>
        <div class="text">Alex +</div>
    </div>
    <span>WELCOME TO ANGULAR <strong>16</strong></span>
</mat-toolbar>
<div id="toolbar">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="tab-container">
                <div class="tab active">Overview</div>
                <div class="tab">Judgment</div>
            </div>
        </div>
        <div class="col-sm-4">
            <app-delivery></app-delivery>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>