<div class="document-main">
    <div class="document-header">
        <div class="document-title">
            <h1>Lloyd v Google LLC</h1>
        </div>
        <div class="document-subtitle">
            <p><em>sub nom <strong>LLoyd v Google LLC</strong>ogle</em></p>
        </div>
    </div>
    <div class="metadata">
        <div class="metadata-item">
            <p><strong>Court:</strong> Food Court 2, Westfield Shopping Centre </p>
        </div>
        <div class="metadata-item">
            <p><strong>Judgment date:</strong> 2023 [UKFC2]</p>
        </div>
        
    <div class="document-body">
        <div class="document-section">
            <div class="document-section-title">
                <h3>What was Lloyd's beef?</h3>
            </div>
            <div class="document-section-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam nulla eaque ipsum suscipit molestiae blanditiis, consequatur tempore, id, exercitationem totam aut ab commodi alias? Maxime eligendi quae eius non.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam nulla eaque ipsum suscipit molestiae blanditiis, consequatur tempore, id, exercitationem totam aut ab commodi alias? Maxime eligendi quae eius non. </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam nulla eaque ipsum suscipit molestiae blanditiis, consequatur tempore, id, exercitationem totam aut ab commodi alias? Maxime eligendi quae eius non. </p>
            </div>
        </div>
        <div class="document-section">
            <div class="document-section-title">
                <h3>Why was Google so upset?</h3>
            </div>
            <div class="document-section-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam nulla eaque ipsum suscipit molestiae blanditiis, consequatur tempore, id, exercitationem totam aut ab commodi alias? Maxime eligendi quae eius non.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam nulla eaque ipsum suscipit molestiae blanditiis, consequatur tempore, id, exercitationem totam aut ab commodi alias? Maxime eligendi quae eius non.
                    Nam voluptas, minus dolore tempore eum, possimus a officiis atque iste sequi eos adipisci maiores. Non officia eum qui iusto, nemo nihil.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam nulla eaque ipsum suscipit molestiae blanditiis, consequatur tempore, id, exercitationem totam aut ab commodi alias? Maxime eligendi quae eius non. </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam nulla eaque ipsum suscipit molestiae blanditiis, consequatur tempore, id, exercitationem totam aut ab commodi alias? Maxime eligendi quae eius non. </p>
                
            </div>
        </div>
        <div class="document-section">
            <div class="document-section-title">
                <h3>Judge fix boo boo?</h3>
            </div>
            <div class="document-section-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque repudiandae numquam laboriosam harum inventore quisquam maxime distinctio adipisci sunt iusto ipsam, sequi molestiae, quia reiciendis expedita, magnam illum doloribus iure.
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, delectus. Fugiat magni officiis, reiciendis doloremque perspiciatis sit necessitatibus. Laboriosam quasi tempore deleniti? Vitae modi qui totam. Veritatis iure nostrum inventore!
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam nulla eaque ipsum suscipit molestiae blanditiis, consequatur tempore, id, exercitationem totam aut ab commodi alias? Maxime eligendi quae eius non.
                Nam voluptas, minus dolore tempore eum, possimus a officiis atque iste sequi eos adipisci maiores. Non officia eum qui iusto, nemo nihil.</p>
            </div>
        </div>
    </div>
</div>
        
