<div class="container">
    <div class="row">
        <div class="col-12 content">
            <ng-container *ngIf="logDetectChanges()"></ng-container>
            <div class="top-section">
                <div class="box">
                    <button (click)="signalCounter()">Fire!</button>
                    <p>Send signal to Button Component</p>
                </div>
                <div class="box">
                    <button (click)="({})">App Root</button>
                    <p> App Root</p>
                </div>
                <div class="box">
                    <button (click)="observableCounter()">Fire!</button>
                    <p>Send observable to Component Two</p>
                </div>
            </div>
            <div class="homepage">
                <app-homepage></app-homepage>
            </div>
        </div>
    </div>
</div>